<%- include('parts/header') %>
<%- include('components/navbar') %>

<section class="page-header clearfix" style="background-image: url(/img/backgrounds/page-header-bg.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="page-header__wrapper clearfix">
                    <div class="page-header__title">
                        <h2>Kurslar</h2>
                    </div>
                    <div class="page-header__menu">
                        <ul class="page-header__menu-list list-unstyled clearfix">
                            <li class="active">Barcha kurslar</li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<section class="courses-one courses-one--courses">
    <div class="container">
        <div class="section-title text-center">
            <h2 class="section-title__title">Mavjud kurslar</h2>
        </div>

        <div class="row filter-layout masonary-layout">
            <% courses.forEach(course => { %>
            <div class="col-xl-3 col-lg-6 col-md-6 filter-item development business">
                <div class="courses-one__single wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1000ms">
                    <div class="courses-one__single-img">
                        <img src="<%= course.small_poster %>" alt=""/>
                    </div>
                    <div class="courses-one__single-content">
                        <div class="courses-one__single-content-overlay-img">
                            <img src="<%= course.author_img %>" alt=""/>
                        </div>
                        <h6 class="courses-one__single-content-name"><%= course.author %></h6>
                        <h4 class="courses-one__single-content-title"><a href="/courses/<%= course.id %>"><%= course.title %></a></h4>
                        <p class="courses-one__single-content-price"><%= course.new_price %> so'm <del style="font-size: 10px; color: #b00020"><%= course.old_price %> so'm</del></p>
                        <ul class="courses-one__single-content-courses-info list-unstyled">
                            <li>Darslar: <%= course.lectures %></li>
                            <li><%= course.duration %></li>
                            <li><%= course.level %></li>
                        </ul>
                    </div>
                </div>
            </div>
            <% }) %>
        </div>
    </div>
</section>


<%- include('components/footer') %>
<%- include('parts/footer') %>