<%- include('parts/header') %>
<%- include('components/navbar') %>

<section class="page-header clearfix" style="background-image: url(<%= course.big_poster %>);">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="page-header__wrapper clearfix">
                    <div class="page-header__title">
                        <h2><%= course.title %></h2>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<section class="course-details">
    <div class="container">
        <div class="row">
            <div class="col-xl-8 col-lg-8">
                <div class="course-details__content">
                    <div class="courses-one__single style2 wow fadeInLeft" data-wow-delay="0ms"
                         data-wow-duration="1000ms">
                        <div class="courses-one__single-img">
                            <img src="<%= course.medium_poster %>" alt=""/>
                        </div>
                        <div class="courses-one__single-content">
                            <h6 class="courses-one__single-content-name"><%= course.author %></h6>
                            <h4 class="courses-one__single-content-title"><%= course.title %></h4>
                            <div class="course-details__content-text1">
                                <p><%= course.description %></p>
                            </div>
                        </div>
                    </div>

                    <div class="course-details__curriculum">
                        <h2 class="course-details__curriculum-title">Kurs rejasi</h2>
                        <% course.list.forEach(part => { %>
                        <div class="course-details__curriculum-single">
                            <h3 class="course-details__curriculum-single-title"><%= part.part_title %></h3>
                            <ul class="course-details__curriculum-list list-unstyled">
                                <% part.lessons.forEach(lesson => { %>
                                <li>
                                    <div class="course-details__curriculum-list-left">
                                        <div class="course-details__curriculum-list-left-icon">
                                            <i class="fa fa-play" aria-hidden="true"></i>
                                        </div>
                                        <div class="course-details__curriculum-list-left-title"><%= lesson.theme %></div>
                                    </div>
                                    <div class="course-details__curriculum-list-right">
                                        <p><%= lesson.duration %></p>
                                    </div>
                                </li>
                                <% }) %>
                            </ul>
                        </div>
                        <% }) %>
                    </div>
                </div>
            </div>

            <div class="col-xl-4 col-lg-4">
                <div class="course-details__sidebar">
                    <div class="course-details__price wow fadeInUp animated" data-wow-delay="0.1s">
                        <h2 class="course-details__price-amount"><%= course.new_price %> so'm<span><del><%= course.old_price %> so'm</del></span></h2>
                        <div class="course-details__price-btn">
                            <a href="https://t.me/Abdivaliyevich" class="thm-btn">Kursni sotib olish</a>
                        </div>
                    </div>

                    <div class="course-details__sidebar-meta wow fadeInUp animated" data-wow-delay="0.3s">
                        <ul class="course-details__sidebar-meta-list list-unstyled">
                            <li class="course-details__sidebar-meta-list-item">
                                <div class="icon">
                                    <i class="far fa-clock"></i>
                                </div>
                                <div class="text">
                                    <p>Davomiyligi: <span><%= course.duration %></span></p>
                                </div>
                            </li>
                            <li class="course-details__sidebar-meta-list-item">
                                <div class="icon">
                                    <i class="far fa-folder-open"></i>
                                </div>
                                <div class="text">
                                    <p>Darslar soni: <span><%= course.lectures %></span></p>
                                </div>
                            </li>
                            <li class="course-details__sidebar-meta-list-item">
                                <div class="icon">
                                    <i class="far fa-user-circle"></i>
                                </div>
                                <div class="text">
                                    <p>Talabalar soni: <span> <%= course.students %></span></p>
                                </div>
                            </li>
                            <li class="course-details__sidebar-meta-list-item">
                                <div class="icon">
                                    <i class="far fa-flag"></i>
                                </div>
                                <div class="text">
                                    <p>Kurs darajasi: <span> <%= course.level %></span></p>
                                </div>
                            </li>
                            <li class="course-details__sidebar-meta-list-item">
                                <div class="icon">
                                    <i class="far fa-bell"></i>
                                </div>
                                <div class="text">
                                    <p>Tili: <span><%= course.language %></span></p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!--End Course Details Sidebar-->
        </div>
    </div>
</section>


<%- include('components/footer') %>
<%- include('parts/footer') %>